* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Styles*/
body {
    font-family: 'Poppins', sans-serif;
}

.wraper {
    width: 76%;
    margin: auto;
    text-align: center;
}

.text-area {
    width: 70%;
    margin: 30px auto;
}

.header {
    font-size: 2.7rem;
    font-weight: 500;
    margin: 20px auto;
}

.text {
    font-size: 1.2rem;
    color: rgb(99, 99, 99);
}

input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 1px rgb(177, 177, 177);
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 50px;
    background: rgba(238, 248, 238, 0.8);
    color: rgb(80, 80, 80);
}

input::placeholder {
    font-weight: 500;
}

input:focus {
    outline: 2px solid rgba(44, 173, 44, 0.8);
}

.btn {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
    background: rgba(44, 173, 44, 0.9);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    box-shadow: 1px 1px 5px 2px rgb(0, 0, 0);
}

/* Individual Styles*/

#hero {
    color: white;

}

#header {
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(26, 25, 25, 0.3)), url(images/donation12.png);
    background-repeat: no-repeat;
    background-size: 100%;

}



#hero-title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.5rem;
    margin-bottom: 40px;
}

#hero-text {
    margin: 20px auto 30px;
    width: 70%;
    font-size: 1.3rem;
}

#hero-link {
    background: rgba(44, 173, 44, 0.7);
}

#hero-link:hover {
    background: rgba(44, 173, 44, 0.8);
}

#donate-sec {
    margin: 120px auto;
}


#donate-amount {
    list-style-type: none;
    width: 80%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}

#donate-amount a {
    text-decoration: none;
    font-size: 2.3rem;
    color: rgba(44, 173, 44, 0.7);
    font-weight: 500;
    padding: 35px 20px;
    border: 2px solid rgba(44, 173, 44, 0);
}

#donate-amount a:hover {
    background: rgba(208, 255, 208, 0.8);
    color: rgba(44, 173, 44, 0.9);
    border: 2px solid rgba(44, 173, 44, 0.8);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(7, 194, 69, 0.5);
}


#donate-plan {
    margin: 120px auto;
}

#plan-area {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.plan {
    width: 32%;
    padding: 30px 30px 20px;
    border-radius: 5px;
}

.plan:nth-child(1) {
    background: rgba(5, 139, 106, 0.2);
}

.plan:nth-child(3) {
    background: rgba(124, 224, 9, 0.2);
}

.plan:nth-child(2) {
    background: rgba(204, 158, 8, 0.2);
}

.plan p {
    text-align: justify;
    font-size: 1rem;
}

.plan-header {
    margin: 15px auto 10px;
    font-weight: 600;
}

#statistics {
    margin-bottom: 120px;
}

#stats-area {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
}

.stats .header {
    margin: 20px auto 0px;
}

#update {
    margin-bottom: 80px;
}

#email-area {
    background: rgba(109, 236, 105, 0.1);
    padding: 70px;
    border-radius: 5px;

}

#email-area input {
    width: 70%;
    margin-bottom: 0px;
}

footer {
    color: rgba(169, 255, 169, 0.9);
    padding: 30px;
    background: rgb(0, 0, 0);
}

#footer-header {
    font-weight: 500;
    font-size: 1.8rem;
}